@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app {
  width: 80%;
  margin: auto;
  flex: 1;
}

@media (max-width: 750px) {
  .app {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .app {
    width: 95%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}